<div class="services-manicure">
  <div>
    <p>
      ИДЕАЛЬНО ОБРАБОТАННАЯ КУТИКУЛА <br />
      без порезов и заусенцев
    </p>
    <img src="../../../assets/img/m-s1.jpg" alt="" />
  </div>
  <div>
    <p>
      РОВНОЕ ОДНОРОДНОЕ ПОКРЫТИЕ <br />
      без затеков и пузырей
    </p>
    <img src="../../../assets/img/m-s2.jpg" alt="" />
  </div>
  <div>
    <p>
      СТЕРИЛЬНЫЕ ИНСТРУМЕНТЫ <br />
      гарантия полной безопасности
    </p>
    <img src="../../../assets/img/mp-tool.jpg" alt="" />
  </div>
</div>
<button class="ms-btn" routerLink="/sing">записаться</button>
