<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! about start -->
<div class="about">
  <div>
    <div class="about-inner">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ea
        quae, quisquam blanditiis sint doloribus quasi vitae libero, iste
        nulla ipsa nesciunt commodi culpa hic fuga laudantium! Commodi,
        laudantium voluptatem.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem, ipsum dolor sit amet consectetur adipisicing.</li>
        <li>Lorem ipsum dolor sit amet consectetur.</li>
      </ul>
    </div>
    <img src="../../../assets/img/ph.jpg" alt="" />
  </div>
</div>
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! about end -->
