<div class="services-pedicure">
  <div>
    <p>
      ПРОФЕССИОНАЛЬНАЯ ОБРАБОТКА <br />
      кутикулы, мозолей и натоптышей
    </p>
    <img src="../../../assets/img/p-s1.jpg" alt="" />
  </div>
  <div>
    <p>
      РОВНОЕ ОДНОРОДНОЕ ПОКРЫТИЕ<br />
      без затеков и пузырей
    </p>
    <img src="../../../assets/img/p-s2.jpg" alt="" />
  </div>
  <div>
    <p>
      СТЕРИЛЬНЫЕ ИНСТРУМЕНТЫ <br />
      гарантия полной безопасности
    </p>
    <img src="../../../assets/img/mp-tool.jpg" alt="" />
  </div>
</div>
<button class="ms-btn" routerLink="/sing">записаться</button>
