<div class="add-foto">
  <form class="form" action="" [formGroup]="form" (submit)="updatePost()">
    <input
      formControlName="name"
      [value]="textValidator"
      type="text"
      placeholder="#NEW TEG"
    />
    <hr />
    <div class="image">
      <img
        class="preview"
        [src]="imagePrev ? imagePrev : foto.imageSrc"
        alt="image"
      />
      <!-- <img
        *ngIf="imagePrev; else imageSrc"
        class="preview"
        [src]="imagePrev"
        alt="image"
      />
      <ng-template #imageSrc>
        <img class="preview" [src]="foto.imageSrc" alt="image" />
      </ng-template> -->
    </div>
    <hr />
    <input
      (change)="onFileUpload($event)"
      type="file"
      style="display: none"
      #input
    />
    <button
      (click)="trigger()"
      [disabled]="form.disabled"
      class="btn block-btn"
      type="button"
    >
      загрузить изображение
    </button>
    <button class="btn save" type="submit">Сохранить изминения</button>
  </form>
</div>
