<div class="home">
  <!-- <i class="fas fa-chevron-left left" (click)="banerPrev()"></i> -->

  <div #baner style="background-image: url()" class="home-baner active-baner">
    <img [src]="img" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum labore
      exercitationem deleniti nam dicta mollitia quos maiores iusto corrupti,
      recusandae ab culpa laboriosam odio soluta quibusdam tempore error
      voluptatibus aliquam?
    </p>
    <button routerLink="/sing">записаться</button>
  </div>

  <!-- <i class="fas fa-chevron-right right" (click)="banerNext()"></i> -->
</div>
